<% if (objbackup.length > 0) { %> 
    <h2>Gästebuch eintrag</h2>
    <% objbackup.forEach(( person ) => { %>
        <div class="eintrag">
            <p class="name"><%= person.name %> <%= person.lastname %></p>
            <p><%= person.email %></p>
            <p><%= person.entry %></p>
        </div>
    <%})%>
    
    
    <% } else {%>
        <p>Du hast keine Freunde</p>
        <%}%>