<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook Teufelsrochen By Siva</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="block">
        <div class="left">
        <h1>Gästebuch von Teufelsrochen</h1>
        
        <form action="/insert" method="POST">
            <div class="formular">
                <label for="">Vorname: </label>
                <input class="text" type="text" name="name" id="">
            
                <label for="">Nachname: </label>
                <input class="text" type="text" name="lastname">
            
                <label for="">Email Adresse:</label>
                <input class="text" type="email" name="email" id="">
        
                <label for="">Schreibe uns</label>
                <textarea class="text" name="entry" id="" cols="30" rows="10"></textarea>
            </div>
            <input class="button" type="submit" value="Abschicken">
        </form>
    </div>
    <div class="right">
        <% if(error) { %>
            <p class="error">hoppla da ist etwas schief gelaufen</p>
        <%}%>
            
        <%- include('./partials/entry', {objbackup})%>
    </div>
</div>
</body>
</html>