@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body{
    font-family: 'Michroma', sans-serif;
}

.formular{
    padding-top: 100px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 500px;
}
.button{
    height: 30px;
    border-radius: 5px;
}

.left{
    width: 40vw;
    height: 100vh;
    position: fixed ;
}

.right{
    margin-left: 50vw;
}

h2{
    font-size: 30px;
}

.name{
    font-style: italic;
    font-size: 25px;
}

.eintrag{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}